# Сервер
PORT=5001
NODE_ENV=development

# База данных
DB_PATH=./database.sqlite

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

# Email (для будущих интеграций)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-email-password

# Платежи (YooKassa / ЮKassa)
YOOKASSA_SHOP_ID=1248144
YOOKASSA_SECRET_KEY=test_TyoqhwAA1a_jmTBC7jdVXpKE_8Fhcy2v2slxLXOurLs

# Frontend
FRONTEND_URL=http://localhost:3001

# Админ
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123
